.calc__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calc__form {
    width: 536px;
}

.calc__progress {
    margin-left: 40px;
    width: 248px;
}

.driver-details {
    margin-bottom: 20px;
}

.date-picker {
    width: 100%;
}

.mb-20 {
    margin-bottom: 30px;
}

.input-group {
    width: 100%;
}

.lease-switch-group {
    display: flex;
    justify-content: space-between;
}

.phone-input {
    width: 345px !important;

    border-radius: 6px !important;
}

.phone-input-container {
    margin-bottom: 20px !important;
}

.inactive-text {
    color: grey;
}

.totals-vehicle {
    font-size: 12px;
}

.small-title {
    font-size: 16px !important;
}